:root {
  --color-primary: #d7003d;
  --color-secondary: #1b1c27;
  --color-white: #ffffff;
  --color-black: #000000;

  --font: "Lato", sans-serif;
  --header-font: "Acme", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 16px;
  scroll-behavior: smooth !important;
}

body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  font-family: var(--font);
}

p {
  letter-spacing: 1px;
  line-height: 1.7rem;
}

.color {
  &--primary {
    color: var(--color-primary);
  }
  &--secondary {
    color: var(--color-secondary);
  }

  &--white {
    color: var(--color-white);
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.frame {
  text-align: center;
  &__header {
    font-size: 2.5rem;
    font-family: var(--header-font);
    text-align: center;
    margin-bottom: 1rem;
  }

  &__lead {
  }
}

.header {
  color: whitesmoke;
  top: 0;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("../images/home-bg.jpg");
  background-size: cover;
  background-position: top;

  &__nav {
    position: absolute;
    width: 70%;
    margin: 0 auto;
    z-index: 100000000000;
    //padding: 1rem;
    box-sizing: border-box;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__content {
    //background-color: red;
    width: 70%;
    position: relative;
    padding: 1rem;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    & > p {
      font-weight: 700;
      text-transform: uppercase;
      & > span {
        //font-family: "Griffy", cursive;
        //font-size: 2rem;
      }
    }
    & > h1 {
      font-size: 3rem;
      font-family: var(--header-font);
      & > span {
        //color: #ff4e04;
        display: inline-block;
        color: transparent;
        background: linear-gradient(
          to right,
          rgba(#ff0b50, 50%),
          rgba(#d7003d, 50%)
        );
        -webkit-background-clip: text;
        -moz-background-clip: text;
      }
    }
    &__connect {
      width: 80%;
      margin: 10rem auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__link {
        text-decoration: none;
        color: var(--color-secondary);
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;

        & > span {
          padding: 0.8rem 2rem 0.8rem 0.8rem;
          background-color: whitesmoke;
          margin-left: -25px;
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
        }

        & > .icon {
          margin-right: 1rem;
          width: 30px;
          height: 30px;
          padding: 1.5rem;
          border-radius: 50%;
          background-color: whitesmoke;
        }

        & > .icon--twitter {
          fill: #00acee;
        }

        & > .icon--spotify {
          fill: #1db954;
        }
      }
    }
  }
}

.nav {
  background-image: linear-gradient(rgba(#1b1c27, 50%), rgba(#1b1c27, 50%));
  //&.scrolled {
  //  position: fixed;
  //  background-image: linear-gradient(rgba(#1b1c27, 50%), rgba(#1b1c27, 50%));
  //}
  border-radius: 50px;
  &__link {
    position: relative;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    transition: background-color 0.3s linear;
    &:hover {
      background-color: var(--color-primary);
    }
    &--icon {
      fill: whitesmoke;
      margin-right: 1rem;
    }

    &.active {
      background-color: var(--color-primary);
    }

    &.active > &--icon {
      fill: whitesmoke;
    }

    &:first-child {
      padding-left: 2rem;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }

    &:last-child {
      padding-right: 2rem;

      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }
}

.section {
  padding: 6rem 10rem;
}
/*--- About section ---*/
.about {
  &__frame {
    text-align: center;
    &__header {
      font-size: 2.5rem;
      font-family: var(--header-font);
      text-align: center;
      margin-bottom: 1rem;
    }

    &__lead {
      //&::after {
      //  display: block;
      //  content: "";
      //  width: 50%;
      //  height: 1px;
      //  margin: 2rem auto;
      //  background-color: var(--color-secondary);
      //}
    }
  }

  &__skills {
    margin: 5rem auto 2rem auto;
    width: 100%;
  }
}

.skill {
  margin-top: 2rem;
  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__card {
    flex: 0 0 33.33333%;
    border: 1px solid #e6ecf8;
    text-align: center;
    padding: 4rem 2rem;
    box-sizing: border-box;

    &__icon {
      fill: var(--color-primary);
      width: 70px;
      height: 70px;
    }

    &__title {
      font-size: 1.3rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
    &--1 {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    &--2 {
      border-left: none;
      border-right: none;
    }
    &--3 {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}

/* ---End of About section ---*/

/* ---Work History section ---*/
.works {
  //background-image: linear-gradient(
  //  to right,
  //  rgba(#ff1c5c, 20%) 20%,
  //  rgba(#d7003d, 50%) 80%
  //);

  &__list {
    margin-top: 2rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
    flex-direction: row;
    &__item {
      position: relative;
      border-radius: 10px;
      height: 20rem;
      &:hover {
        cursor: pointer;

        & > .w-card__content {
          width: 100%;
          height: 100%;
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          background-color: var(--color-secondary);
          z-index: 10000000;
          border-radius: 10px;
          opacity: 1;
          transform: scale(1);
          //padding-right: 3rem;
          box-sizing: border-box;
        }
      }
    }
  }
}

//.works__list__item:hover > .w-card__content {
//  width: 100%;
//  height: 100%;
//  display: block;
//  position: fixed;
//  background-color: black;
//  z-index: 10000000;
//}

.w-card {
  overflow: hidden;
  box-shadow: 3px 3px 5px 0px rgba(139, 127, 127, 0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(139, 127, 127, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(139, 127, 127, 0.75);
  &__bg {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    &--ados {
      background: linear-gradient(
        to right bottom,
        rgba(#f67e39, 50%),
        rgba(#d15209, 50%)
      );
    }

    &--dcg {
      color: #ffcc44;
      background: linear-gradient(
        to right,
        rgba(#ffcc44, 50%),
        rgba(#eead00, 50%)
      );
    }

    &--hfn {
      background: whitesmoke;
    }

    &--tb {
      background: linear-gradient(
        to right bottom,
        rgba(#354a53, 50%),
        rgba(#2e4149, 50%)
      );
    }

    &--tis {
      background: linear-gradient(
        to right bottom,
        rgba(#919ac0, 50%),
        rgba(#2e4149, 50%)
      );
    }

    &--scriptify {
      color: #001008;
      background: linear-gradient(
        to right bottom,
        rgba(#001008, 50%),
        rgba(#2e4149, 50%)
      );
    }

    &__img {
      position: relative;
      &--1 {
        width: 200px;
        height: 100px;
      }

      &--2 {
        width: 150px;
        height: 100px;
      }

      &--3 {
        width: 200px;
        height: 70px;
      }

      &--4 {
        width: 200px;
        height: 200px;
      }

      &--5 {
        width: 200px;
        height: 200px;
      }

      &--6 {
        width: 200px;
        height: 200px;
      }
    }
  }
  &__content {
    opacity: 0;
    transition: all 0.2s linear;
    transform: scale(1.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    & > p {
      margin-bottom: 1rem;
    }

    & > a {
      text-decoration: none;
      color: var(--color-white);
      padding: 0.8rem 2rem;
      border-radius: 2.5rem;
      background-color: var(--color-primary);
    }
  }
}

/* ---End of Work history section ---*/

.contact {
  background-color: var(--color-primary);

  &__frame {
    &__lead {
      margin-bottom: 2rem;
    }
  }

  &__connect {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

    &__link {
      text-decoration: none;
      color: var(--color-secondary);
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 4rem;

      & > span {
        padding: 0.8rem 2rem 0.8rem 0.8rem;
        background-color: whitesmoke;
        margin-left: -25px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
      }

      & > .icon {
        margin-right: 1rem;
        width: 30px;
        height: 30px;
        padding: 1.5rem;
        border-radius: 50%;
        background-color: whitesmoke;
      }

      & > .icon--twitter {
        fill: #00acee;
      }

      & > .icon--spotify {
        fill: #1db954;
      }
    }
  }
}

#txt-type > .txt {
  border-right: 0.2rem solid var(--color-primary);
  margin-right: 0.3rem;
}

/*--- Mobile responsiveness --- */

@media only screen and (max-width: 1280px) {
  .header {
    &__nav {
      width: 90%;
    }

    &__content {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 990px) {
  .header {
    &__nav {
      position: absolute;
      display: flex;
      flex-direction: row;
      border-radius: 0;
      top: -50rem;
      //transform: translateY(-50%);
      transition: all 0.3s linear;
    }

    &__content {
      width: 90%;

      & > p {
        font-size: 1rem;
      }
      & > h1 {
        font-size: 2.5rem;
      }

      &__connect {
        width: 80%;

        &__link {
          & > span {
            padding: 0.5rem 1.7rem 0.5rem 0.5rem;
            font-size: 0.8rem;
          }

          & > .icon {
            padding: 1rem;
          }
        }
      }
    }
  }
  .nav {
    &.scrolled {
      width: 90%;
      position: fixed;
      top: 0;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    &__link {
      //padding: 2rem 0.2rem;
      border-radius: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex: 0 0 15%;
      &--text {
        display: none !important;
      }

      & > .icon {
        margin-right: 0;
      }
      //&:not(:last-child) {
      //  border-bottom: 0.5px solid #6f6f73;
      //}
      //
      &:first-child {
        border-bottom-left-radius: 15px;
        border-top-left-radius: 0;
      }

      &:last-child {
        border-bottom-right-radius: 15px;
        border-top-right-radius: 0;
      }
    }
  }

  .works {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
  .section {
    padding: 6rem 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    &__content {
      &__connect {
        width: 60%;
        &__link {
          & > span {
            display: none;
          }
        }
      }
    }
  }

  // about
  .skill {
    &__cards {
      flex-direction: column;
    }
  }

  .contact {
    &__connect {
      width: 60%;
      justify-content: space-between;
      &__link {
        margin-right: 0;

        & > span {
          display: none;
        }

        & > .icon {
          margin-right: 0 !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .frame {
    &__header {
      font-size: 1.8rem;
    }
  }
  .header {
    &__nav {
      width: 90% !important;
    }
    &__content {
      & > h1 {
        font-size: 1.8rem;
        & > span {
          display: block;
        }
      }
      & > p {
        font-size: 0.7rem;
      }
      &__connect {
        width: 60%;
        &__link {
          & > span {
            display: none;
          }
        }
      }
    }
  }

  .nav {
    &__link {
      padding: 2rem 0;
    }
  }

  .works {
    &__list {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }
  }

  .contact {
    &__connect {
      width: 100%;
      &__link {
        & > span {
          display: none;
        }
      }
    }
  }

  .section {
    padding: 3rem 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    &__content {
      &__connect {
        width: 90%;
      }
    }
  }

  .nav {
    &__link {
      box-sizing: border-box;
      padding: 1.5rem 0 !important;
      flex: 0 0 25%;
    }
  }

  .contact {
    &__connect {
      width: 90%;
    }
  }
}
