:root {
  --color-primary: #d7003d;
  --color-secondary: #1b1c27;
  --color-white: #ffffff;
  --color-black: #000000;
  --font: "Lato", sans-serif;
  --header-font: "Acme", sans-serif; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  font-size: 16px; }

body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  font-family: var(--font); }

p {
  letter-spacing: 1px;
  line-height: 1.7rem; }

.color--primary {
  color: var(--color-primary); }

.color--secondary {
  color: var(--color-secondary); }

.color--white {
  color: var(--color-white); }

.icon {
  width: 20px;
  height: 20px; }

.frame {
  text-align: center; }
  .frame__header {
    font-size: 2.5rem;
    font-family: var(--header-font);
    text-align: center;
    margin-bottom: 1rem; }

.header {
  color: whitesmoke;
  top: 0;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/home-bg.jpg");
  background-size: cover;
  background-position: top; }
  .header__nav {
    position: absolute;
    width: 70%;
    margin: 0 auto;
    z-index: 100000000000;
    box-sizing: border-box;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .header__content {
    width: 70%;
    position: relative;
    padding: 1rem;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; }
    .header__content > p {
      font-weight: 700;
      text-transform: uppercase; }
    .header__content > h1 {
      font-size: 3rem;
      font-family: var(--header-font); }
      .header__content > h1 > span {
        display: inline-block;
        color: transparent;
        background: linear-gradient(to right, #ff0b50, #d7003d);
        -webkit-background-clip: text;
        -moz-background-clip: text; }
    .header__content__connect {
      width: 80%;
      margin: 10rem auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .header__content__connect__link {
        text-decoration: none;
        color: var(--color-secondary);
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center; }
        .header__content__connect__link > span {
          padding: 0.8rem 2rem 0.8rem 0.8rem;
          background-color: whitesmoke;
          margin-left: -25px;
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px; }
        .header__content__connect__link > .icon {
          margin-right: 1rem;
          width: 30px;
          height: 30px;
          padding: 1.5rem;
          border-radius: 50%;
          background-color: whitesmoke; }
        .header__content__connect__link > .icon--twitter {
          fill: #00acee; }
        .header__content__connect__link > .icon--spotify {
          fill: #1db954; }

.nav {
  background-image: linear-gradient(#1b1c27, #1b1c27);
  border-radius: 50px; }
  .nav__link {
    position: relative;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    transition: background-color 0.3s linear; }
    .nav__link:hover {
      background-color: var(--color-primary); }
    .nav__link--icon {
      fill: whitesmoke;
      margin-right: 1rem; }
    .nav__link.active {
      background-color: var(--color-primary); }
    .nav__link.active > .nav__link--icon {
      fill: whitesmoke; }
    .nav__link:first-child {
      padding-left: 2rem;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px; }
    .nav__link:last-child {
      padding-right: 2rem;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px; }

.section {
  padding: 6rem 10rem; }

/*--- About section ---*/
.about__frame {
  text-align: center; }
  .about__frame__header {
    font-size: 2.5rem;
    font-family: var(--header-font);
    text-align: center;
    margin-bottom: 1rem; }

.about__skills {
  margin: 5rem auto 2rem auto;
  width: 100%; }

.skill {
  margin-top: 2rem; }
  .skill__cards {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .skill__card {
    flex: 0 0 33.33333%;
    border: 1px solid #e6ecf8;
    text-align: center;
    padding: 4rem 2rem;
    box-sizing: border-box; }
    .skill__card__icon {
      fill: var(--color-primary);
      width: 70px;
      height: 70px; }
    .skill__card__title {
      font-size: 1.3rem;
      margin-top: 2rem;
      margin-bottom: 1rem; }
    .skill__card--1 {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px; }
    .skill__card--2 {
      border-left: none;
      border-right: none; }
    .skill__card--3 {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px; }

/* ---End of About section ---*/
/* ---Work History section ---*/
.works__list {
  margin-top: 2rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  flex-direction: row; }
  .works__list__item {
    position: relative;
    border-radius: 10px;
    height: 20rem; }
    .works__list__item:hover {
      cursor: pointer; }
      .works__list__item:hover > .w-card__content {
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-secondary);
        z-index: 10000000;
        border-radius: 10px;
        opacity: 1;
        transform: scale(1);
        box-sizing: border-box; }

.w-card {
  overflow: hidden;
  box-shadow: 3px 3px 5px 0px rgba(139, 127, 127, 0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(139, 127, 127, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(139, 127, 127, 0.75); }
  .w-card__bg {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px; }
    .w-card__bg--ados {
      background: linear-gradient(to right bottom, #f67e39, #d15209); }
    .w-card__bg--dcg {
      color: #ffcc44;
      background: linear-gradient(to right, #ffcc44, #eead00); }
    .w-card__bg--hfn {
      background: whitesmoke; }
    .w-card__bg--tb {
      background: linear-gradient(to right bottom, #354a53, #2e4149); }
    .w-card__bg--tis {
      background: linear-gradient(to right bottom, #919ac0, #2e4149); }
    .w-card__bg--scriptify {
      color: #001008;
      background: linear-gradient(to right bottom, #001008, #2e4149); }
    .w-card__bg__img {
      position: relative; }
      .w-card__bg__img--1 {
        width: 200px;
        height: 100px; }
      .w-card__bg__img--2 {
        width: 150px;
        height: 100px; }
      .w-card__bg__img--3 {
        width: 200px;
        height: 70px; }
      .w-card__bg__img--4 {
        width: 200px;
        height: 200px; }
      .w-card__bg__img--5 {
        width: 200px;
        height: 200px; }
      .w-card__bg__img--6 {
        width: 200px;
        height: 200px; }
  .w-card__content {
    opacity: 0;
    transition: all 0.2s linear;
    transform: scale(1.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem; }
    .w-card__content > p {
      margin-bottom: 1rem; }
    .w-card__content > a {
      text-decoration: none;
      color: var(--color-white);
      padding: 0.8rem 2rem;
      border-radius: 2.5rem;
      background-color: var(--color-primary); }

/* ---End of Work history section ---*/
.contact {
  background-color: var(--color-primary); }
  .contact__frame__lead {
    margin-bottom: 2rem; }
  .contact__connect {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto; }
    .contact__connect__link {
      text-decoration: none;
      color: var(--color-secondary);
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 4rem; }
      .contact__connect__link > span {
        padding: 0.8rem 2rem 0.8rem 0.8rem;
        background-color: whitesmoke;
        margin-left: -25px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px; }
      .contact__connect__link > .icon {
        margin-right: 1rem;
        width: 30px;
        height: 30px;
        padding: 1.5rem;
        border-radius: 50%;
        background-color: whitesmoke; }
      .contact__connect__link > .icon--twitter {
        fill: #00acee; }
      .contact__connect__link > .icon--spotify {
        fill: #1db954; }

#txt-type > .txt {
  border-right: 0.2rem solid var(--color-primary);
  margin-right: 0.3rem; }

/*--- Mobile responsiveness --- */
@media only screen and (max-width: 1280px) {
  .header__nav {
    width: 90%; }
  .header__content {
    width: 90%; } }

@media only screen and (max-width: 990px) {
  .header__nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 5rem;
    left: -30%;
    border-radius: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s linear; }
  .header .nav {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; }
    .header .nav.scrolled {
      left: 0; }
    .header .nav__link {
      padding: 2rem 0.2rem;
      border-radius: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .header .nav__link--text {
        display: none !important; }
      .header .nav__link:not(:last-child) {
        border-bottom: 0.5px solid #6f6f73; }
      .header .nav__link:first-child {
        border-top-right-radius: 15px; }
      .header .nav__link:last-child {
        border-bottom-right-radius: 15px; }
  .header__content {
    width: 90%; }
    .header__content > p {
      font-size: 1rem; }
    .header__content > h1 {
      font-size: 2.5rem; }
    .header__content__connect {
      width: 80%; }
      .header__content__connect__link > span {
        padding: 0.5rem 1.7rem 0.5rem 0.5rem;
        font-size: 0.8rem; }
      .header__content__connect__link > .icon {
        padding: 1rem; }
  .works__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); }
  .section {
    padding: 6rem 3rem; } }

@media only screen and (max-width: 768px) {
  .header__content__connect {
    width: 60%; }
    .header__content__connect__link > span {
      display: none; }
  .skill__cards {
    flex-direction: column; }
  .contact__connect {
    width: 60%;
    justify-content: space-between; }
    .contact__connect__link {
      margin-right: 0; }
      .contact__connect__link > span {
        display: none; }
      .contact__connect__link > .icon {
        margin-right: 0 !important; } }

@media only screen and (max-width: 600px) {
  .frame__header {
    font-size: 1.8rem; }
  .header__nav {
    width: 4rem; }
  .header__content > h1 {
    font-size: 1.8rem; }
    .header__content > h1 > span {
      display: block; }
  .header__content > p {
    font-size: 0.7rem; }
  .header__content__connect {
    width: 60%; }
    .header__content__connect__link > span {
      display: none; }
  .nav__link {
    padding: 2rem 0; }
  .works__list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr); }
  .contact__connect {
    width: 100%; }
    .contact__connect__link > span {
      display: none; }
  .section {
    padding: 3rem 1rem; } }

@media only screen and (max-width: 480px) {
  .header__content__connect {
    width: 90%; }
  .contact__connect {
    width: 90%; } }
